<div class="container shadow bg-img">
  <div class="navbar">
    <ul>
      <li><a href="#about">About</a> <span>/</span></li>
      <li><a href="#goals"> Goals </a> <span>/</span></li>
      <li><a href="#contact">Contact </a></li>
    </ul>
  </div>
  <div>
    <h1> Energy Monitoring System </h1>
    <p>Easily Monitor and analyze the energy of various electrical devices.</p>
  </div>
  <div class="image-wrapper">
    <img src="./assets/images/dashboard-ligt.png" alt="Energy Monitoring System" class="shadow">
  </div>
</div>

<div class="tools bg-img" id="about">
  <div class="tool">
    <h3>Sensors</h3>
    <div>
      <img src="/energy-monitoring-system/assets/images/pzem_1.jpg" alt="Sensor" class="float-right">
      <p>
        Our product enables us to measure and monitor current, voltage, frequency, and power through the system.
        In order to collect the real-time data on energy usage, we use corresponding sensors.
      </p>
    </div>
  </div>
  <div class="tool">
    <h3>IoT</h3>
    <div>
      <img src="/energy-monitoring-system/assets/images/iot.png" alt="IOT" class="float-right">
      <p>
        The information received from sensors is sent to IoT server through WiFi using the ESP32 module.
        The data is processed by the specific algorithms and stored in database.
        We have selected a Influxdb database that is designed specifically for the time-series data.
      </p>
    </div>
  </div>
  <div class="tool">
    <h3>Grafana</h3>
    <div>
      <img src="/energy-monitoring-system/assets/images/grafana.png" alt="Grafana" class="float-right">
      <p>
        The processed data should finally be visualized nicely.
        To do this, we use a web application - Grafana that allows to visualize collected information with charts,
        diagrams, dashboards, and other appropriate tools so that all information becomes easily perceptible for
        anyone.
      </p>
    </div>
  </div>
</div>

<div class="goals" id="goals">
  <h3>/ Our Goals</h3>
  <div class="bg-img shadow">
    <div *ngFor="let goal of goals">
      <div><img src="/energy-monitoring-system/assets/images/{{goal.title}}.png" alt="{{goal.title}}"
                style="width: inherit;"></div>
      <div><p>{{goal.description}}</p></div>
    </div>
  </div>
</div>

<div id="contact">
  <small>
    Ana Maghradze / Khatia Nikuradze / Zura Rogava / Giorgi Zirakashvili
  </small>
  <small>rocketscientists1111@gmail.com</small>
  <small>2022 © All Rights Reserved</small>
</div>
