<div class="container shadow bg-img">
  <div class="navbar">
    <ul>
      <li><a href="#about">About</a> <span>/</span></li>
      <li><a href="#goals">Goals</a> <span>/</span></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
  <div>
    <h1> Energy Monitoring System </h1>
    <p>Easily Monitor And Analyze The Energy Of Various Electrical Devices.</p>
  </div>
  <div class="image-wrapper">
    <a [href]="snapshot_url" target="_blank">
      <img class="shadow move-front" src="/energy-monitoring-system/assets/images/dashboard-light.png"
           alt="Energy Monitoring System">
    </a>
  </div>
</div>

<div class="tools bg-img" id="about">
  <div class="tool">
    <h3>Sensors</h3>
    <div>
      <img src="/energy-monitoring-system/assets/images/pzem_1.jpg" alt="Sensor" class="float-right">
      <p>
        Our product enables user to continuously monitor current, voltage, power, energy, frequency, and power factor
        through the system.
        In order to collect the real-time data on energy usage, we use PZEM-004T sensors.
      </p>
    </div>
  </div>
  <div class="tool">
    <h3>IoT</h3>
    <div>
      <img src="/energy-monitoring-system/assets/images/iot.png" alt="IOT" class="float-right">
      <p>
        The information received from sensors is sent to IoT server through WiFi using the ESP-32S modules.
        The data is processed by the specific algorithms and stored in databases. This is handled by MAXIOT - it
        makes this process much more convenient and efficient.
      </p>
    </div>
  </div>
  <div class="tool">
    <h3>InfluxDB</h3>
    <div>
      <img src="/energy-monitoring-system/assets/images/influx.png" alt="Database" class="float-right">
      <p>
        We use an InfluxDB that is an open source database and was designed specifically for the time-series data.
        Influx can cope with a large amount of data and maintain a normal performance at the same time.
      </p>
    </div>
  </div>
  <div class="tool">
    <h3>Grafana</h3>
    <div>
      <img src="/energy-monitoring-system/assets/images/grafana.png" alt="Grafana" class="float-right">
      <p>
        The processed data should finally be visualized nicely.
        To do this, we use a web application - Grafana that allows to visualize collected information with charts,
        diagrams, dashboards, and other appropriate tools so that all information becomes easily perceptible for
        anyone.
      </p>
    </div>
  </div>
</div>

<div class="goals" id="goals">
  <h3>/ Our Goals</h3>
  <div class="bg-img shadow">
    <div *ngFor="let goal of goals">
      <div><img src="/energy-monitoring-system/assets/images/{{goal.title}}.png" alt="{{goal.title}}"
                style="width: inherit;"></div>
      <div><p>{{goal.description}}</p></div>
    </div>
  </div>
</div>

<div id="contact">
  <small>
    Ana Maghradze / Zura Rogava / Khatia Nikuradze / Giorgi Zirakashvili
  </small>
  <small class="email"><i class="las la-envelope" style="font-size: 22px"></i>rocketscientists1111@gmail.com</small>
  <small style="font-size: 14px; color: #566273">2022 © All Rights Reserved</small>
</div>
